/**
 * Layout modules
 */

/**
 * l-header
 */
.l-header {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  &__inner {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }
}

/**
 * l-footer
 */
.l-footer {
  background: $gray-100;
  //padding-top: $spacer * 2;
  @include media-breakpoint-up(sm) {

  }
  @include media-breakpoint-up(md) {

  }
  @include media-breakpoint-up(lg) {

  }
}