/**
 * Project
 */
.p-global-nav {
  border-bottom: 1px solid $gray-100;
  @include media-breakpoint-up(sm) {
    border-top: 1px solid $gray-100;
  }
  .navbar-brand {
    font-size: 24px;
    line-height: 40px;
    margin: 0;
    vertical-align: bottom;
    color: $gray-700;

    width: 270px;
    height: auto;
    @include media-breakpoint-up(lg) {
      display: none;
    }
    img.custom-logo {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }
}